<!DOCTYPE html>

<html lang="en" data-bs-theme="dark"> 
  <%- include('../partials/head', {about: true, title: "About"}); %>
  <div class="heading">
      <div class="heading-content"></div>
      <div class="title">About</div>
    </div>
  <div class="body">
    <div class="container-fluid text-center">
      <div class="row justify-content-center">
        <div class="col-auto yt column">
          <img src="/assets/codered-transparent.png" alt="" style="max-width: 400px; max-height: 400px; width: 100%; height: auto;">
        </div>
        <div class="col left column">
          Hello! I'm Elliot Clark, but I go by CodeRed online (previously Ellbell). I have been programming since I was 13, mainly focusing on game development in Unity.
          In the 6 years since then, I have amassed quite the catologue of projects, most of which you can check out on this site!<br><br>

          I am entirely self-taught, and I have had lots of time to perfect my craft during high school, since I was unschooled. Unschooling is a form of home schooling,
          where the student gets full control over their education. They get to decide what to learn, when, and how. Because of this, I am an independent, avid learner.<br><br>

          My programming journey actually started when I was 9. I wanted to make my own video games, so I started learning to make flash games using a website called Sploder!
          While Sploder didn't directly teach me any programming, it did teach me the basics of game development, and enabled me to continue my journey into making games with
          Algodoo.<br><br>

          Algodoo itself isn't a game enigne. It's actually a program meant for teaching people physics. However, that didn't stop me from making marble races and
          other fun games inside it. I then uploaded these creations to my YouTube channel, and to my suprise, they did very well! My YouTube channel now has x subscribers,
          where I mostly upload videos on my latest game projects. However, my creations in Algodoo weren't exactly "games," they were more like simulations. It wasn't until I
          learned to create proper games in Unity that I began programming. And since then, I haven't stopped.<br><br>
          
          My main focus has been with C#, but I have also dabbled in Python, C, C++, HTML, CSS, JavaScript, PHP, Lua, as well as Algodoo's own scripting language, Thyme!
          Most of the projects you can find on this site are Unity games, but as you can tell with the sentence before, I have branched out into many other areas of
          software development. Including bot creation, and web development, which includes the development of this website made with Node.js, HTML, CSS, and JavaScript!
        </div>
      </div>
    </div>
  </div>
</html>

<!-- <p>marbles races racing</p> -->