<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {projects: true, games: true, title: "Beast Hunter" }); %>
  <div class="heading">
    <div class="heading-content"></div>
    <div class="title">Beast Hunter</div>
    <div class="subtitle" style="max-width: calc((1rem + .75vw) * 42);">A 2D beast hunting game created in Unity for the
      <a href="https://itch.io/jam/scorejam23">ScoreSpace Game Jam #23</a>. Made in collaboration with <a
        href="https://www.youtube.com/@goldendisguise2743">Golden Disguise</a>, <a
        href="https://www.twitch.tv/bluthardt_ow">Bluthardt</a>, and <a href="https://linktr.ee/keeganwclark">Keegan
        Clark</a>.</div>
  </div>
  <div class="body">
    <div class="container-fluid text-center">
      <div class="row justify-content-center">
        <div class="col-md-auto" style="max-width: 640px; width: 100%; margin: 0px auto;">
          <div class="video-container column">
            <iframe width="560" height="360" src="https://www.youtube.com/embed/lnrkNoxCuBY"
              title="Beast Hunter Trailer" frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
              class="embeded"></iframe>
          </div>
        </div>
        <div class="col">
          <div class="left">
            This game was made in 3 days for the <a href="https://itch.io/jam/scorejam23">23rd ScoreSpace jam</a>. This
            was the third <a href="https://scorespace.net">Scorespace</a> jam I had competed in, and the second one in
            which I was
            collaborating with my friends! Just like <a href="/balloon">that game</a>, <a
              href="https://www.youtube.com/@goldendisguise2743">Golden Disguise</a>
            was helping with ideas for the game, and also created all of the art used in the game. The theme for this
            jam was survival, and
            the idea to make a beast hunting game came from <a href="https://www.youtube.com/@goldendisguise2743">Golden
              Disguise</a>. After deciding on the idea
            for the game, we got to work.<br><br>

            As per the requirements of the <a href="https://scorespace.net">ScoreSpace</a> game jam,
            I implemented a highscore system, which would keep track of the number of days alive, and an online
            leaderboard using <a href="https://lootlocker.com">LootLocker</a>.
            The music for the game was created
            by both <a href="https://www.twitch.tv/bluthardt_ow">Bluthardt</a> and <a
              href="https://linktr.ee/keeganwclark">Keegan Clark</a>, who each contribued tracks
            for the game. In the end, the game ended up placing <b><a
                href="https://itch.io/jam/scorejam23/rate/1843293">9th/139 games!</a></b> Which we were pretty happy
            with. We also worked on updating the game with some new
            content, which we released a few months later.
          </div>
          <hr class="break">
          <div>
            <h2 class="inline">Itch.io: </h2>
            <a href="https://coderedyt.itch.io/beast-hunter" class="inline" style="padding-right: 1vw;">
              <img src="/assets/itch-io.png" width="50" height="50" class="logo"></image>
            </a>
            <h2 class="inline">GitHub: </h2>
            <a href="https://github.com/ItsCodeRed/BeastHunter" class="inline">
              <img src="/assets/github-logo.png" width="50" height="50" class="logo"></image>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</html>

<!-- <p>beast hunter c# unity itch.io game jam</p> -->