<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {projects: true, rlbot: true, title: "BroccoliBot" }); %>
  <div class="heading">
    <div class="heading-content"></div>
    <div class="title">BroccoliBot</div>
    <div class="subtitle" style="max-width: calc((1rem + .75vw) * 32);">A Rocket League bot made in Python using <a
        href="https://github.com/ddthj/GoslingUtils">GoslingUtils</a></div>
  </div>
  <div class="body">
    <div class="">
      <div class="container-fluid text-center">
        <div class="row justify-content-center">
          <div class="col-auto column" style="max-width: 640px; width: 100%; margin-inline: auto; margin-bottom: 0px;">
            <p style="text-align:center;" class="video-container"><iframe width="560" height="315"
                src="https://www.youtube.com/embed/C5cHUNY8psc" title="Molten Video" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="embeded"></iframe></p>
            <h2>RLBot Championship 2022<br></h2>
            <p id="championship" style="text-align:center;" class="video-container"><iframe width="560" height="315"
                src="https://www.youtube.com/embed/XVIxZA6gFRI" title="RLBot Championship 2022" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="embeded"></iframe></p>
          </div>
          <div class="col left">
            BroccoliBot was my second bot for Rocket League. My first bot isn't on this site, as it was my first ever
            Python project, and was pretty bad.
            All of my bots work using the <a href="https://rlbot.org/">RLBot framework</a>,
            which is a framework for making and playing with these bots.
            The <a href="https://rlbot.org/">RLBot framework</a> also has direct support from <a
              href="https://www.psyonix.com/">Psyonix</a>,
            the creators of Rocket League.<br><br>

            BroccoliBot was made using <a href="https://github.com/ddthj/GoslingUtils">GoslingUtils</a>, which are a set
            of coding utilities
            that gives you a template to make a bot for Rocket League. This allowed me to focus more on developing the
            strategy for my bot, which I put a lot of effort into.
            BroccoliBot can play competently with any number of teammates/opponents, although it plays best in 3v3, as
            that was the gamemode it was primarly designed for.
            In addition to the strategy, I did add a bit of code to the utilities, most notably adding basic aerials
            into BroccoliBot.<br><br>

            BroccoliBot has performed fairly well in many different competitions. It's best performance was qualifying
            for the 2022 RLBot Championship,
            beating out 20 other bots to make it into the top 8. BroccoliBot ended up placing last in the finals, but
            considering BroccoliBot was 2 years old at
            that point, it was quite impressive!<br><br>

            You can watch BroccoliBot play in <a href="https://www.youtube.com/watch?v=C5cHUNY8psc">this video</a>,
            where I pit my friends against BroccoliBot, as well as
            <a href="/molten">Molten</a>. It is worth noting however that the version of BroccoliBot in the video is not
            the best version of BroccoliBot.
            If you want to play against the best version of BroccoliBot yourself, you can install the RLBotGUI
            and play against it by following <a href="https://www.youtube.com/watch?v=oXkbizklI2U">this video</a>.
            <hr class="break">
            <div class="center">
              <h2 class="inline">GitHub: </h2>
              <a href="https://github.com/ItsCodeRed/BroccoliBot" class="inline">
                <img src="/assets/github-logo.png" width="50" height="50" class="logo"></image>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</html>

<!-- <p>python broccolibot rlbot rocket league psyonix</p> -->