<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {contact: true, title: "Contact" }); %>

  <div class="heading">
    <div class="heading-content"></div>
    <div class="title">Contact</div>
  </div>
  <div class="body narrower">
    <div class="container left">
      <div class="row justify-content-center">
        <div class="col-8" style="max-width: 500px;">
          <form action="/contact" method="post">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" name="name" placeholder="Your Name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" name="email" placeholder="youremail@email.com">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" name="message" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <button class="form-control btn-submit" type="submit" style="width:50%;">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-auto" style="max-width: 200px; display: block; margin-top: calc(2rem + 1vw);">
          <a href="https://www.linkedin.com/in/elliot-clark-696336272/" class="social">
            <img src="/assets/linkedin.png" width="auto" height="100%" class="logo"></image>
          </a>
          <a href="https://twitter.com/ItsCodeRedYT" class="social">
            <img src="/assets/twitter.png" width="auto" height="100%" class="logo"></image>
          </a>
          <a href="https://www.youtube.com/channel/UCKiDHfkK8jhlHN-az0aaSVA" class="social">
            <img src="/assets/youtube-logo.png" width="auto" height="100%" class="logo"></image>
          </a>
          <a href="https://github.com/ItsCodeRed" class="social">
            <img src="/assets/github-logo.png" width="auto" height="100%" class="logo"></image>
          </a>
        </div>
      </div>
    </div>
  </div>
</html>

<!-- <p>socials email contact</p> -->