<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {projects: true, games: true, title: "Death in Strange Places" }); %>
  <div class="heading">
    <div class="heading-content"></div>
    <div class="title">Death in Strange Places</div>
    <div class="subtitle" style="max-width: calc((1rem + .5vw) * 42);">A 2D platformer puzzle game created in Unity
      for the <a href="https://itch.io/jam/gamedevtv-jam-2022">GameDev.tv Game Jam 2022</a>, with music created by
      <a href="https://linktr.ee/keeganwclark">Keegan Clark</a>.
    </div>
  </div>
  <div class="body">
    <div class="container-fluid text-center">
      <div class="row justify-content-center">
        <div class="col-md-auto yt column" style="max-width: 400px;">
          <a href="https://coderedyt.itch.io/death-in-strange-places">
            <img src="/assets/disp1.png" alt="" style="max-width: 400px; max-height: 400px; width: 90%; height: auto;">
          </a>
          <a href="https://coderedyt.itch.io/death-in-strange-places" style="color:transparent;">
            <img src="/assets/disp2.jpg" alt=""
              style="padding-top:1rem; max-width: 400px; max-height: 400px; width: 90%; height: auto;">
          </a>
          <a href="https://coderedyt.itch.io/death-in-strange-places" style="color:transparent;">
            <img src="/assets/disp3.jpg" alt=""
              style="padding-top:1rem; max-width: 400px; max-height: 400px; width: 90%; height: auto;">
          </a>
          <a href="https://coderedyt.itch.io/death-in-strange-places" style="color:transparent;">
            <img src="/assets/disp4.jpg" alt=""
              style="padding-top:1rem; max-width: 400px; max-height: 400px; width: 90%; height: auto;">
          </a>
        </div>
        <div class="col">
          <div class="left">
            This game was made in 10 days for the <a href="https://itch.io/jam/gamedevtv-jam-2022">2022
              GameDev.tv game jam</a>.
            This was the second game jam I had ever competed in, and I was optimistic since I did fairly
            well in my <a href="/magnettoagunfight">first game jam</a>,
            and this game jam was giving me more time than that one did. Although this jam wasn't really
            competitive.
            It only ranked games in specific categories, and not overall, so this was mainly just for my own
            self-improvment.
            The theme for this jam was "Death is only the beginning".
            Quite the interesting prompt.<br><br>

            Unlike my previous jam game, I didn't have an immediate idea come to me. So during the first few
            days, I was kinda going a bit slow.
            I knew I wanted to use
            <a
              href="https://docs.unity.cn/Packages/com.unity.render-pipelines.universal@11.0/manual/Lights-2D-intro.html">Unity's
              URP 2D lights</a>,
            as I thought they looked really cool, so I spent some time figuring out how to use them.
            Along the way, I ended up having to change the 2D shadow casters in
            <a href="https://docs.unity.cn/Packages/com.unity.render-pipelines.universal@11.0/manual/index.html">Unity's
              URP</a>,
            as they seemed to have a bug where shadows would stop appearing
            on objects if they were scaled and placed too far away. <br><br>

            The idea I ended up settling on was platforming using your dead bodies, which ended up being
            grave stones. Not an entirely original idea,
            as many people in the jam did a very similar thing, but I had some of my own twists to it. For
            example, the grave stones would break when you stood on
            them for too long. I ended up having just enough time to make 6 levels for the game. The music
            for the game was created by
            <a href="https://linktr.ee/keeganwclark">Keegan Clark</a>, who contribued two tracks
            for the game. <br><br>In the end, I'd consider the game a success. This game jam didn't have an
            overall rating system, so I'm not sure how it placed overall.
            However, it did recieve <a href="https://itch.io/jam/gamedevtv-jam-2022/rate/1553834">pretty
              good feedback</a>,
            although most people thought the game was way too hard. Which is understandable.
            You can judge the game for yourself by checking it out on
            <a href="https://coderedyt.itch.io/death-in-strange-places">itch.io</a>, or you can see the code
            for the game on
            <a href="https://github.com/ItsCodeRed/DeathinStrangePlaces">github</a>.
          </div>
          <hr class="break">
          <h2 class="inline">Itch.io: </h2>
          <a href="https://coderedyt.itch.io/death-in-strange-places" class="inline" style="padding-right: 1vw;">
            <img src="/assets/itch-io.png" width="50" height="50" class="logo"></image>
          </a>
          <h2 class="inline">GitHub: </h2>
          <a href="https://github.com/ItsCodeRed/DeathinStrangePlaces" class="inline">
            <img src="/assets/github-logo.png" width="50" height="50" class="logo"></image>
          </a>
        </div>
      </div>
    </div>
  </div>
</html>

<!-- <p>death in strange places c# unity itch.io game jam</p> -->