<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {projects: true, games: true, title: "DodgeBlob" }); %>
  <div class="heading">
    <div class="heading-content"></div>
    <div class="title">DodgeBlob</div>
    <div class="subtitle">A 3D multiplayer dodgeball game created in Unity</div>
  </div>
  <div class="body">
    <div class="container-fluid text-center">
      <div class="row justify-content-center">
        <div class="col-md-auto" style="max-width: 640px; width: 100%; margin: 0px auto;">
          <div class="video-container column">
            <iframe width="560" height="360"
              src="https://www.youtube.com/embed/Te8v1t68zns?list=PLnmqxwI5nKHnmDea0-eQR2rGP4jALJDav"
              title="DodgeBlob Devlogs" frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
              class="embeded"></iframe>
          </div>
        </div>
        <div class="col">
          <div class="left">
            This game was a first-person multiplayer dodgeball game where all the players played as blobs. I created a
            3D movement controller, an animated blob model
            in blender, and the dodgeball logic. However, the most important part of this project was the multiplayer
            element.<br><br>

            This was my second attempt at making a 3D multiplayer game. My first attempt didn't get far enough for me to
            feel like it was worth listing on this site,
            but it used an custom php login system I made, and the <a href="https://www.photonengine.com/pun">Photon
              multiplayer system</a>.
            This project, however, used a custom multiplayer system I learned to create using a
            <a href="https://www.youtube.com/watch?v=uh8XaC0Y5MA&list=PLXkn83W0QkfnqsK8I0RAz5AbUxfg3bOQ5">tutorial
              series</a>
            by <a href="https://www.youtube.com/@tomweiland">Tom Weiland</a>.<br><br>

            I did change up the multiplayer code a bit from the tutorial series, including running the servers at 60tps.
            However, I did run into quite a few issues with
            desync when too many players joined, so I stopped working on the project. Nonetheless, this was a great
            project for learning how to make a multiplayer system using
            sockets, UDP & TCP.
            You can check out the code on <a href="https://github.com/ItsCodeRed/DodgeBlob">github</a> if you want to
            take a look.
          </div>
          <hr class="break">
          <h2 class="inline">GitHub: </h2>
          <a href="https://github.com/ItsCodeRed/DodgeBlob" class="inline">
            <img src="/assets/github-logo.png" width="50" height="50" class="logo"></image>
          </a>
        </div>
      </div>
    </div>
  </div>
</html>

<!-- <p>dodgeblob c# unity</p> -->