<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {projects: true, games: true, title: "Games" }); %>
  <div class="heading">
    <div class="heading-content"></div>
    <div class="title">Games</div>
  </div>
  <div class="body narrower">
    <div class="text-center" style="max-width: calc((1rem + .5vw) * 39); margin-left: auto; margin-right: auto;">
      My main focus while learning software development has been on creating games. All of these games were made in
      Unity, although I have made some games
      not worth mentioning here in GameMaker Studio, and Unreal Engine 4/5.<br><br>
    </div>
    <hr class="break">
    <div class="container-fluid left">
      <h1 style="font-size: 60px;">Games:</h1>
      <div class="row justify-content-center row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <a href="/marblemania" class="col-md-auto game" style="color:transparent;">
          <img src="/assets/marble-mania.png" alt=""
            style="max-width: 400px; max-height: 400px; width: 100%; height: auto;">
        </a>
        <a href="/dodgeblob" class="col-md-auto game" style="color:transparent;">
          <img src="/assets/dodgeblob.png" alt=""
            style="max-width: 400px; max-height: 400px; width: 100%; height: auto;">
        </a>
      </div>
    </div>
    <hr class="break">
    <div class="container-fluid left">
      <h1 style="font-size: 60px;">Jam Games:</h1>
      <div class="row justify-content-center row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <a href="/beasthunter" class="col-md-auto game" style="color:transparent;">
          <img src="/assets/bh.png" alt="" style="max-width: 400px; max-height: 400px; width: 100%; height: auto;">
        </a>
        <a href="/balloon" class="col-md-auto game" style="color:transparent;">
          <img src="/assets/b.png" alt="" style="max-width: 400px; max-height: 400px; width: 100%; height: auto;">
        </a>
        <a href="/deathinstrangeplaces" class="col-md-auto game" style="color:transparent;">
          <img src="/assets/disp1.png" alt="" style="max-width: 400px; max-height: 400px; width: 100%; height: auto;">
        </a>
        <a href="/magnettoagunfight" class="col-md-auto game" style="color:transparent;">
          <img src="/assets/mtag.png" alt="" style="max-width: 400px; max-height: 400px; width: 100%; height: auto;">
        </a>
        <a class="col-md-auto game" style="color:transparent;">
          <img style="max-width: 400px; max-height: 400px; width: 100%; height: 1x;"></img>
        </a>
        <a class="col-md-auto game" style="color:transparent;">
          <img style="max-width: 400px; max-height: 400px; width: 100%; height: 1px;"></img>
        </a>
      </div>
    </div>
  </div>
</html>