<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {home: true}); %>

  <div class="big heading">
    <div class="heading-content"></div>
    <div class="title">Hello, I'm CodeRed.</div>
    <div class="subtitle">Welcome to my Portfolio site! Here you can find info on me and my projects.</div>
  </div>
  <div class="body narrower">
    <a href="/about">
      <div class="preview-container reveal">
        <h1 class="preview-text">About</h1>
        <div class="circle reveal" style="width: 100%; height: auto;">
          <img src="/assets/codered-transparent.png"
            style="width: 56.25%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 class="preview-desc">
          Unschooled, Self-Taught, Software Developer, Game Developer, Web Developer
        </h1>
      </div>
    </a>
    <a href="/youtube">
      <div class="preview-container reveal">
        <h1 class="preview-text">YouTube</h1>
        <div class="circle reveal" style="width: 100%; height: auto;">
          <img src="/assets/youtube.png" style="width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 class="preview-desc">
          I have been making videos on my creations for ten years, and have amassed 4m+ views.
        </h1>
      </div>
    </a>
    <a href="/games">
      <div class="preview-container reveal">
        <h1 class="preview-text">Games</h1>
        <div class="circle reveal" style="width: 100%; height: auto;">
          <img src="/assets/games.png" style="width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 class="preview-desc">
          2D, 3D, and Multiplayer games made in Unity
        </h1>
      </div>
    </a>
    <a href="/rlbot">
      <div class="preview-container reveal">
        <h1 class="preview-text">Bots</h1>
        <div class="circle reveal" style="width: 100%; height: auto;">
          <img src="/assets/rivalsgif.gif" style="width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <h1 class="preview-desc">
          Bots for the game Rocket League. Made using C#, Python, & 3D Math.
        </h1>
      </div>
    </a>
  </div>
</html>