<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {projects: true, games: true, titie: "MAGNET to a GUNFIGHT" }); %>
  <div class="heading">
    <div class="heading-content"></div>
    <div class="title">MAGNET to a GUNFIGHT</div>
    <div class="subtitle" style="max-width: calc((1rem + .75vw) * 39);">A 3D top down arcade style beat-em-up game
      created in Unity for the <a href="https://itch.io/jam/scorejam18">ScoreSpace Game Jam #18</a>,
      with music created by <a href="https://linktr.ee/keeganwclark">Keegan Clark</a>.</div>
  </div>
  <div class="body">
    <div class="container-fluid text-center">
      <div class="row justify-content-center">
        <div class="col-md-auto" style="max-width: 640px; width: 100%; margin: 0px auto;">
          <div class="video-container column">
            <iframe width="560" height="360" src="https://www.youtube.com/embed/O2V5FEz2pbk"
              title="Magnet to a Gunfight Video" frameborder="0"
              allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
              class="embeded"></iframe>
          </div>
        </div>
        <div class="col">
          <div class="left">
            This game was made in 3 days for the <a href="https://itch.io/jam/scorejam18">18th ScoreSpace
              jam</a>.
            This was the first game jam I had ever competed in, so I was a bit scared that 3 days would not
            be enough time for me.<br><br>

            The theme for this jam was magnetic, and I quickly got attached to the idea of someone using a
            magnet as a weapon to magnetize bullets and other weapons.
            Once I had the idea in place, I started feverishly working on gameplay.
            The music for the game was created by <a href="https://linktr.ee/keeganwclark">Keegan Clark</a>,
            who contribued two tracks
            for the game. As per the requirements of the <a href="https://scorespace.net">ScoreSpace</a>
            game jam, I also implemented a highscore system, and an online leaderboard for the game using <a
              href="https://lootlocker.com">LootLocker</a>.<br><br>

            In the end, the game ended up placing <b><a href="https://itch.io/jam/scorejam18/rate/1512444">8th/123
                games!</a></b>
            Which I was very happy with as my first game jam game. You can check out the code for the game
            on
            <a href="https://github.com/ItsCodeRed/MAGNETtoaGUNFIGHT">github</a>, play it on
            <a href="https://coderedyt.itch.io/magnet-to-a-gunfight">itch.io</a>, or watch the
            <a href="https://www.youtube.com/watch?v=O2V5FEz2pbk">video</a> on this page
            for a more in-depth look at how it was made.
          </div>
          <hr class="break">
          <h2 class="inline">Itch.io: </h2>
          <a href="https://coderedyt.itch.io/magnet-to-a-gunfight" class="inline" style="padding-right: 1vw;">
            <img src="/assets/itch-io.png" width="50" height="50" class="logo"></image>
          </a>
          <h2 class="inline">GitHub: </h2>
          <a href="https://github.com/ItsCodeRed/MAGNETtoaGUNFIGHT" class="inline">
            <img src="/assets/github-logo.png" width="50" height="50" class="logo"></image>
          </a>
        </div>
      </div>
    </div>
  </div>
</html>

<!-- <p>magnet to a gunfight c# unity itch.io game jam</p> -->