<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
<%- include('../partials/head', {projects: true, rlbot: true, title: "Bots" }); %>
  <div class="heading">
    <div class="heading-content"></div>
    <div class="title">Bots</div>
  </div>
  <div class="body narrower">
    <div class="text-center" style="max-width: calc((1rem + .5vw) * 40); margin-left: auto; margin-right: auto;">
      I have been making bots for the game Rocket League since 2018 as a part of the <a
        href="https://rlbot.org/">RLBot</a> community, a group
      of programmers who make bots that play the game <a href="https://www.rocketleague.com">Rocket League</a>. I have
      made many projects
      within the community. Here are the most notable of these:<br><br>
    </div>
    <hr class="break">
    <a href="/redutils">
      <div class="preview-container reveal">
        <h1 class="preview-text">RedUtils</h1>
        <div class="circle reveal" style="width: 100%; height: auto;">
          <img src="/assets/redutils.png" style="width: 100%; height: auto;">
        </div>
        <h1 class="preview-desc">
          A set of C# coding utilities designed to help people make bots for Rocket League
        </h1>
      </div>
    </a>
    <hr class="break">
    <a href="/rivals">
      <div class="preview-container reveal">
        <h1 class="preview-text">Rivals</h1>
        <div class="circle reveal" style="width: 100%; height: auto;">
          <img src="/assets/rivalsgif.gif" style="width: 100%; height: auto;">
        </div>
        <h1 class="preview-desc">
          An airshow performed by bots, written in Python, for the game Rocket League
        </h1>
      </div>
    </a>
    <hr class="break">
    <a href="/molten">
      <div class="preview-container reveal">
        <h1 class="preview-text">Molten</h1>
        <div class="circle reveal" style="width: 100%; height: auto;">
          <img src="/assets/molten.png" style="width: 100%; height: auto;">
        </div>
        <h1 class="preview-desc">
          A Rocket League bot written in Python
        </h1>
      </div>
    </a>
    <hr class="break">
    <a href="/broccolibot">
      <div class="preview-container reveal">
        <h1 class="preview-text">BroccoliBot</h1>
        <div class="circle reveal" style="width: 100%; height: auto;">
          <img src="/assets/broccolibot.png" style="width: 100%; height: auto;">
        </div>
        <h1 class="preview-desc">
          A Rocket League bot written in Python
        </h1>
      </div>
    </a>
  </div>
</html>

<!-- <p>rlbot rlbot rlbot rlbot rlbot rlbot rocket league psyonix</p> -->