
/* 
-------------------
HEADING 
-------------------
*/

.heading
{
    text-align: center;
    font-size: calc(3rem + 1vw);
    color: white;
    padding: 3rem;
    color: #121417;
    background-color: rgb(223, 34, 56);
}

.codered
{
    color: rgb(223, 34, 56);
}

.heading::after 
{
    content: "";
    width: 3px;
    height: 70px; 
    bottom: -15px;
    position: relative;
    display: inline-block;
}

.dropdown:hover>.auto-open {
    display: block;
}

.blink::after 
{
    animation: cursor-blink 1s step-end infinite;
}

@keyframes cursor-blink 
{
    50% 
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
    }
}

.heading::after, .background
{
    background-color: #121417;
}

.background
{
    animation: fade-in ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in
{
    0% 
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 1;
    }
}

.fade-out
{
    animation: fade-out ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-out
{
    0% 
    {
        opacity: 1;
    }
    100% 
    {
        opacity: 0;
    }
}

.section
{
    text-align: center;
    color: white;
    margin: 3em 5em 3em 5em;
}

a
{
    color: #ff004d;
}

a:hover
{
    color: #aa0033;
}

.embeded
{
    margin: 3rem 0rem 3rem 0rem;
}

.sub-section
{
    text-align: center;
    color: white;
    margin: 3rem 0rem 3rem 0rem;
    font-size: 1.3rem
}

.small-text
{
    font-size: 1rem;
}

.break
{
    border: .1rem solid white;
}

.break-yt
{
    display: inline-block;
    border: .1rem solid white;
    width: 400px;
}

.thin
{
    padding: 0rem;
}

.inline
{
    display: inline-block;
}

.inline-img
{
    display: inline-block;
    vertical-align: text-bottom;
}

.yt
{
    text-align: center;
    width: 500px;
}

.github
{
    position: relative;
    bottom: 5px;
}

.left
{
    text-align: left;
}

.center
{
    text-align: center;
}

.full-width
{
    width: 100%;
}

.results
{
    width: 220px;
    margin-block: -10px;
}

.dropdown-item:active
{
    background-color: #dddddd !important;
    color: black !important;
}

.dropdown-item.active
{
    background-color: #dddddd !important;
    color: black !important;
}